*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.5rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #FFF;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer; }
  .btn:hover {
    background-color: #101d2c; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / 12;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(84, 72, 58, 0.1);
  text-align: center;
  cursor: pointer;
  left: 0.5rem;
  top: 1rem; }
  @media only screen and (max-width: 50em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  left: 0.5rem;
  top: 1rem;
  position: fixed;
  border-radius: 50%;
  background-image: radial-gradient(#c69963, #B28451);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 50em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #c69963;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #c69963;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6;
  background-image: url(../img/Arnab_Background.JPG);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  padding-bottom: 0;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__name {
    display: grid;
    grid-row: 5 / -1;
    grid-column-gap: 1.5rem;
    align-items: start;
    margin: -15rem 0;
    font-size: 1.6rem;
    color: #aaa; }
    .header__name img {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      display: block; }
  .header__grid {
    height: 3rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__text {
    font-size: 1.8rem;
    font-weight: 600;
    color: #54483A; }

.about {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .about {
      grid-column: 1 / -1; } }
  .about__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .about__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .about__list {
        grid-template-columns: min-content max-content; } }
  .about__img {
    width: 5rem;
    display: block; }

.personal {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  .personal__description {
    display: grid; }
    .personal__description--category {
      display: flex;
      align-items: start;
      align-content: start; }
    .personal__description--icon {
      fill: #c69963;
      width: 4.5rem;
      height: 4.5rem;
      grid-row: 1 /span 2; }
  .personal__carrer-details {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    margin-top: 2rem; }
  .personal__carrer-text {
    text-transform: uppercase;
    color: #54483A;
    font-size: 1.6rem;
    line-height: 2.4rem; }
  .personal__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .personal__text {
    font-size: 1.6rem;
    color: #6D5D4B; }
  .personal__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    margin: 2rem 0; }
    .personal__grid img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); }

.learning {
  grid-column: center-start / col-end 6;
  margin: 15rem 0; }
  @supports (display: grid) {
    .learning {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
      grid-gap: 4rem;
      align-items: flex-start; } }

.subject {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .subject {
      width: auto;
      margin-bottom: 0; } }
  .subject__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .subject__text {
    font-size: 1.7rem; }
  .subject__link:link, .subject__link:visited {
    font-size: 1.4rem;
    color: #c69963;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    display: block;
    transition: all .2s; }
  .subject__link:hover, .subject__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.project__current {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  grid-row: 3/ -1;
  display: grid; }
  .project__current--wrapper {
    margin: 2rem; }
  @media only screen and (max-width: 50em) {
    .project__current {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.project__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
  color: #54483A;
  font-weight: 400; }

.skills {
  background-color: #f9f7f6;
  display: grid;
  grid-column: col-start 7/full-end;
  align-content: center;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .skills {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.skill__industry {
  background-color: #54483A;
  display: grid;
  grid-column: full-start / col-end 4;
  padding: 2rem; }

.skill__technology {
  background-color: #54483A;
  display: grid;
  grid-column: col-start 5 / full-end;
  padding: 2rem; }

.skill__text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: center;
  list-style: none;
  color: #54483A;
  font-size: 1.5rem;
  line-height: 3rem;
  font-style: italic;
  margin-bottom: 4rem; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
